<h1>Edit Todo</h1>

<%= form_with(model: @todo) do |form| %>
  
  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
    <br>
    <br>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form. text_field :password %>
  </div>
  <br>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>
<%= link_to 'Show', @todo %> |
<%= link_to 'Back', todos_path %>

