
<p>
  <strong>user_name:</strong>
  <%= @todo.user_name %>
</p>

<p>
  <strong>password:</strong>
  <%= @todo.password %>
</p>


<% if user_signed_in? %>
<%= link_to 'Edit', edit_todo_path(@todo) %> |
<% else %>
<%= link_to 'Back', todos_path %>
<% end %>
<%= social_share_button_tag(@todo.user_name) %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=504323752911178";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-href="request.url" data-width="470" data-num-posts="3"></div>