
<p>
  <strong>user_name:</strong>
  <%= @todo.user_name %>
</p>

<p>
  <strong>password:</strong>
  <%= @todo.password %>
</p>


<% if user_signed_in? %>
<%= link_to 'Edit', edit_todo_path(@todo) %> |
<% else %>
<%= link_to 'Back', todos_path %>
<% end %>
<%= social_share_button_tag(@todo.user_name) %>